@import "./fonts"

$fontInter: "Inter", sans-serif
$fontFiraSans: "Fira Sans", sans-serif
$fontInconsolata: "Inconsolata", monospace

$gray: #5d5d5d
$lightGray: #dcdcdc
$dark: #27282C
$white: #fff

$shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px
